<div>
    <h1>Saludos, {{user.name}}</h1>
    {{#if isAdmin}}
    {{#each products}}
    <div>
        <p>{{this.id}}</p>
        <p>{{this.name}}</p>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>No eres Admin</p>
    {{/if}}
</div>